<script src="https://giscus.app/client.js"
        data-repo="secustor/secustor.github.io"
        data-repo-id="R_kgDOJ30VAg"
        data-category="General"
        data-category-id="DIC_kwDOJ30VAs4CdTSz"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
